[submodule "UE4GitPlugin"]
	path = UE4GitPlugin
	url = git@github.com:Svengali/UE4GitPlugin.git
[submodule "Items"]
	path = Items
	url = git@github.com:Svengali/Items.git
[submodule "sirius-utility-nodes"]
	path = sirius-utility-nodes
	url = git@github.com:Svengali/sirius-utility-nodes.git
[submodule "SPUD"]
	path = SPUD
	url = git@github.com:Svengali/SPUD.git
[submodule "StevesUEHelpers"]
	path = StevesUEHelpers
	url = git@github.com:Svengali/StevesUEHelpers.git
[submodule "UEPham"]
	path = UEPham
	url = git@github.com:Svengali/UEPham.git
[submodule "VoxelPlugin"]
	path = VoxelPlugin
	url = git@github.com:Svengali/VoxelPlugin.git
[submodule "RuntimeMeshComponent"]
	path = RuntimeMeshComponent
	url = git@github.com:Svengali/RuntimeMeshComponent.git
[submodule "SimplexNoise"]
	path = SimplexNoise
	url = git@github.com:Svengali/SimplexNoise.git
